@model AgriExchange.Models.ViewModels.GardenerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Wilkommen @Model.User.UserName</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Forcast </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>High</th>
            <th>Low</th>
            <th>Pecipitation</th>
            <th>Warning</th>
        </tr>
    </thead>
    @foreach(AgriExchange.Models.Forcast forcast in Model.Forcast)
    {
        <tr>
            <td>@forcast.Date</td>
            <td>@forcast.HighTemp C</td>
            <td>@forcast.LowTemp C</td>
            <td>@forcast.Percipitation cm</td>
            @if(forcast.LowTemp < 5)
            {
                <td style="color:crimson">Warning!! Frost</td>
            }
            else if(forcast.Percipitation > 2)
            {
                <td style="color: deepskyblue">High rain!!!</td>
            }
        </tr>
    }
    @if (Model.Follows.Count > 0)
    {
        <thead>
            <tr>
                <th>Following</th>
                <th>Notification</th>
            </tr>
        </thead>
        foreach (AgriExchange.Models.Follow follow in Model.Follows)
        {
            <tr>
                <td>@Html.ActionLink($"{follow.FollowedUser.UserName}","ViewGardener", "Gardener",new { id = follow.ID }, null)</td>
                @if(follow.DateChecked.Ticks < follow.DateUpdated.Ticks)
                {
                    <td style="color: deeppink "> New Updates!!!</td>
                }
            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Add","Follow","Gardener")</td>
        </tr>
    }
    else
    {
        <thead>
            <tr>
                <th>Following</th>
                <th>Notification</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.ActionLink("Add", "Follow", "Gardener")</td>
        </tr>
    }
    @if(Model.CropEntries.Count == 0)
    {
        <thead>
            <tr>
                <th>No crop entries</th>
            </tr>
        </thead>
    }
    else
    {
        <thead>
            <tr>
                <th>Crops</th>
                <th>Date Planted</th>
                <th>Date Hervested</th>
                <th>Public</th>
            </tr>
        </thead>
    }
    @foreach(var entry in Model.CropEntries)
    {
        <tr>
            <td>@entry.Crop</td>
            <td>@entry.DatePlanted</td>
            @if(entry.DateHarvested.Date == entry.DatePlanted.Date)
            {
                <td>@Html.ActionLink("Harvest","Harvest","Crop", new { id = entry.ID }, null)</td>
            }
            else
            {
                <td>@entry.DateHarvested</td>
            }
            @if(entry.IsPublic)
            {
                <td>@Html.ActionLink("yes", "ChangePublic", "Crop", new { id = entry.ID }, null)</td>
            }
            else
            {
                <td>@Html.ActionLink("no", "ChangePublic", "Crop", new { id = entry.ID }, null)</td>
            }
        </tr>
    }
    <tr>
        <td>@Html.ActionLink("Add", "Create", "Crop")</td>
    </tr>
    @if(Model.Reccomentdations.Count > 0)
    {
        <thead>
            <tr>
                <th>Reccomendations</th>
            </tr>
        </thead>
        foreach(var reccomendation in Model.Reccomentdations)
        {
            <tr>
                <td>@reccomendation.Name</td>
            </tr>
        }
    }
    @if(Model.Blogs.Count > 0)
    {
        <thead>
            <tr>
                <th>Blogs</th>
            </tr>
        </thead>
        foreach(var blog in Model.Blogs)
        {
            <tr>
                <td>@Html.ActionLink($"{blog.Title}","Index","Blog", new { id = blog.ID  }, null)</td>
                <td>@blog.DatePosted</td>
                <td>@Html.ActionLink("Remove","Remove","Blog", new { id = blog.ID }, null)</td>
            </tr>
        }
    }
</table>

